@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Merriweather', serif;
}


#one {
    background-color: #F44336;
    color:white;
}

#two {
    background-color:#f9f9f9;
}

#user-table {
    width:100%;
}

.inner-offset {
    margin-left:1em;
}
