@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Merriweather', serif;
}


#one {
    background-color: white;
    color:#2e2e2e;
}

.selected {
    background-color: orange;
}

#one input {
    color: #2e2e2e;
}

#two {
    background-color:#f9f9f9;
}

#user-table {
    width:100%;
}

#my-video {
    height:120px;
    z-index: 200;
    position:absolute;
    bottom:0;
    right:0;
    transform: scaleX(-1);
    -webkit-transform : scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

#their-video {
    width:100%;
    min-height:240px;
    position:absolute;
    top:0;
    left:0;
}

#relative-vid-container {
    width:100%;
    min-height:300px;
    position:relative;
}

.inner-offset {
    margin-left:1em;
}
